
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAppLabel" translate="dgdtoolApp.app.home.createOrEditLabel">Create or edit a App</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="app.id" readonly />
        </div>
        <div class="form-group">
            <label translate="dgdtoolApp.app.app_name" for="field_app_name">App_name</label>
            <input type="text" class="form-control" name="app_name" id="field_app_name"
                    ng-model="app.app_name"
                    required ng-maxlength="200" />
            <div ng-show="editForm.app_name.$invalid">
                <p class="help-block"
                    ng-show="editForm.app_name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.app_name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="dgdtoolApp.app.app_type_id" for="field_app_type_id">App_type_id</label>
            <input type="number" class="form-control" name="app_type_id" id="field_app_type_id"
                    ng-model="app.app_type_id"
                    required />
            <div ng-show="editForm.app_type_id.$invalid">
                <p class="help-block"
                    ng-show="editForm.app_type_id.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.app_type_id.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="dgdtoolApp.app.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="app.description"
                    required ng-maxlength="2000" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="2000">
                    This field cannot be longer than 2000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="dgdtoolApp.app.status_id" for="field_status_id">Status_id</label>
            <input type="number" class="form-control" name="status_id" id="field_status_id"
                    ng-model="app.status_id"
                    required />
            <div ng-show="editForm.status_id.$invalid">
                <p class="help-block"
                    ng-show="editForm.status_id.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status_id.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="dgdtoolApp.app.created_by" for="field_created_by">Created_by</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                    ng-model="app.created_by"
                    required ng-maxlength="200" />
            <div ng-show="editForm.created_by.$invalid">
                <p class="help-block"
                    ng-show="editForm.created_by.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.created_by.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="dgdtoolApp.app.created_date" for="field_created_date">Created_date</label>
            <input type="date" class="form-control" name="created_date" id="field_created_date"
                    ng-model="app.created_date"
                    required />
            <div ng-show="editForm.created_date.$invalid">
                <p class="help-block"
                    ng-show="editForm.created_date.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="dgdtoolApp.app.modified_by" for="field_modified_by">Modified_by</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                    ng-model="app.modified_by"
                    required ng-maxlength="200" />
            <div ng-show="editForm.modified_by.$invalid">
                <p class="help-block"
                    ng-show="editForm.modified_by.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.modified_by.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="dgdtoolApp.app.modified_date" for="field_modified_date">Modified_date</label>
            <input type="date" class="form-control" name="modified_date" id="field_modified_date"
                    ng-model="app.modified_date"
                    required />
            <div ng-show="editForm.modified_date.$invalid">
                <p class="help-block"
                    ng-show="editForm.modified_date.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
