<div>
    <h2 translate="dgdtoolApp.project.home.title">Projects</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="project.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="dgdtoolApp.project.home.createLabel">Create a new Project</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Project</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteProjectConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(project.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="dgdtoolApp.project.delete.question" translate-values="{id: '{{project.id}}'}">Are you sure you want to delete this Project?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="dgdtoolApp.project.requestor_id">Requestor_id</th>
                    <th translate="dgdtoolApp.project.associated_project_id">Associated_project_id</th>
                    <th translate="dgdtoolApp.project.initiative_id">Initiative_id</th>
                    <th translate="dgdtoolApp.project.ticket_id">Ticket_id</th>
                    <th translate="dgdtoolApp.project.service_id">Service_id</th>
                    <th translate="dgdtoolApp.project.app_id">App_id</th>
                    <th translate="dgdtoolApp.project.package_id">Package_id</th>
                    <th translate="dgdtoolApp.project.legacy_owner">Legacy_owner</th>
                    <th translate="dgdtoolApp.project.business_unit">Business_unit</th>
                    <th translate="dgdtoolApp.project.planned_start_date">Planned_start_date</th>
                    <th translate="dgdtoolApp.project.planned_end_date">Planned_end_date</th>
                    <th translate="dgdtoolApp.project.description">Description</th>
                    <th translate="dgdtoolApp.project.status_id">Status_id</th>
                    <th translate="dgdtoolApp.project.created_by">Created_by</th>
                    <th translate="dgdtoolApp.project.created_date">Created_date</th>
                    <th translate="dgdtoolApp.project.modified_by">Modified_by</th>
                    <th translate="dgdtoolApp.project.modified_date">Modified_date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects track by project.id">
                    <td><a ui-sref="project.detail({id:project.id})">{{project.id}}</a></td>
                    <td>{{project.requestor_id}}</td>
                    <td>{{project.associated_project_id}}</td>
                    <td>{{project.initiative_id}}</td>
                    <td>{{project.ticket_id}}</td>
                    <td>{{project.service_id}}</td>
                    <td>{{project.app_id}}</td>
                    <td>{{project.package_id}}</td>
                    <td>{{project.legacy_owner}}</td>
                    <td>{{project.business_unit}}</td>
                    <td>{{project.planned_start_date | date:'medium'}}</td>
                    <td>{{project.planned_end_date | date:'medium'}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.status_id}}</td>
                    <td>{{project.created_by}}</td>
                        <td>{{project.created_date | date:'mediumDate'}}</td>
                    <td>{{project.modified_by}}</td>
                        <td>{{project.modified_date | date:'mediumDate'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="project.detail({id:project.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="project.edit({id:project.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(project.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
